/*misc begins*/
html{
	font-size: 12px;
}

@media only screen and (max-width: 400px) {
    html {
        font-size: 9.411764705882353px;
    }
}
.text1{
  padding-top: 5%;
  text-align: center;
  font-size: 11px;
}
/*misc ends*/ 
.fill ul li a {
  position: relative;
}

.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}

.fill ul li a {
  transition: all 2s;
}

.fill ul li a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}
.fill ul li a:hover {
  color: rgb(245, 0, 0);
  z-index: 1;
}
.fill ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}

/* Keyframes */
@-webkit-keyframes fill {
  0% {
    width: 0%;
    height: 2px;
  }
  50% {
    width: 100%;
    height: 2px;
  }
  100% {
    width: 100%;
    height: 2px;
    background: rgb(255, 0, 0);
  }
}
/*navbar ends*/

/*layer1 begins*/
#land_img{
	width: 48%;
	height: auto;
  margin-top: 8%;
  margin-left: 25.5%;
}
.layer1bg{
  background-image: linear-gradient(-120deg, #ff5858 0%, #f09819 100%);
}
.layer1{
  position: relative;
  background: linear-gradient(to bottom right, rgb(252, 3, 3), rgb(8, 8, 8));
  height: auto;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bolder;
 /* font-size: 4rem;*/
  clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    0 calc(100% - 5vw)
  );
}
#land_text{
  text-align: center;
  padding-top: 0;
  font-size: 4.5rem;
  letter-spacing: 8px;
  margin-top: 3%;
}

#land_text2{
  text-align: center;
  font-size: 2.1rem;
}
#ani2{
  -webkit-animation-delay: 0.75s;
  -moz-animation-delay: 0.75s;
}
#ani3{
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
}
.btn-lg{
  display: table;
  margin: 0px auto;
  margin-top: 3%;
  background: rgba(0,0,0,0);
  border: 2px solid #FFFFFF;
  width: 15%;
  height: 6%;
  border-radius: 0%; 
  color: white;
  font-size: 1.8rem;
}
.btn-lg:hover{
  background: #FFFFFF;
  border: 1px solid #ad000b;
  color: black;
}
.btn-primary:not(:disabled):not(.disabled):active{
  background-color: black;
  border-color: white;
}
/*layer1 ends*/

/*layer2 begins*/
.layer2bg{
  background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
}
.layer2{
  padding-bottom: 40px;
  position: relative;
  background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
  height: auto;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.6rem;
  clip-path: polygon(
    0 -10%,
    100% 10%,
    100% 100%,
    100 100
  );
}
.layer2bg .main-text {
  font-size: 1.9rem;
  padding-top: 5%;
  padding-bottom: 0.5%;
  text-align: center;
  align-content: center;
  letter-spacing: 5px;
  font-family: 'Alegreya Sans SC', sans-serif;
}
#sub-text{
  text-align: center;
  padding-bottom: 2%;
  font-size: 4.2rem;
}
hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
    width: 30%;
}
.layer2bg .container{
  font-size: 1.4rem;
  color: black;
}
.layer2text p{
  padding-top: 2.5%;
  font-size: 2.0rem;
  font-weight: lighter;
  width: 80%;
  text-align: justify;
  -moz-text-align-last: left;
  text-align-last: left;
  position: relative;
  left: 10%;
  color: black;
}
/*stats*/
.top-to-bottom {
    border-width: 3px;
    border-style: solid;
    -webkit-border-image: 
      -webkit-gradient(linear, 0 0, 0 100%, from(white), to(rgba(0, 0, 0, 0))) 1 100%;
    -webkit-border-image: 
      -webkit-linear-gradient(white, rgba(0, 0, 0, 0)) 1 100%;
    -moz-border-image:
      -moz-linear-gradient(white, rgba(0, 0, 0, 0)) 1 100%;    
    -o-border-image:
      -o-linear-gradient(white, rgba(0, 0, 0, 0)) 1 100%;
    border-image:
      linear-gradient(to bottom, white, rgba(0, 0, 0, 0)) 1 100%;
    height: 150px;
    margin-top: -50%;
    margin-left: -15%;
    margin-right: -10%;
}
.stat{
  text-align: center;
  padding-top: 3.5% !important;
}
.fa-users, .fa-cubes, .fa-smile-o{
  color: white;
  font-size: 4.5rem !important;
}
.col-lg-4{
  font-size: 2.0rem;
}
/*stats ends*/
/*layer2 ends*/

/*layer3 begins*/
.layer3{
  position: relative;
  background-color:#ffffff;
  height: auto;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bolder;
  font-size: 30%;
  padding-bottom: 40px;
}
.layer3 .main-text {
  font-size: 1.8rem;
  padding-top: 5%;
  padding-bottom: 1.3%;
  text-align: center;
  letter-spacing: 5px;
  font-family: 'Alegreya Sans SC', sans-serif;
}
.layer3 .main-text2 {
  font-size: 3.2rem;
  margin-left: 41.5%;
  align-content: center;
  color:black;
}
.layer3 .container{
  font-size: 1.8rem;
  color:#262426;
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 5%;
  font-weight: 400;
  text-align: justify;
  -moz-text-align-last: left;
  text-align-last: left;
  margin-bottom: -7%;
}
.layer3 .card{
  height: auto;
  width: 54rem;
}
/*layer3 ends*/

/*layer4 begins*/
.layer4{
  position: relative;
  background: linear-gradient(to bottom right, #ee0979, #ff6a00);
  height: auto;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: #f4f4f4;
  margin-top: 3%;
}
.tline_text{
  margin-left: 17%;
  font-family: 'Roboto', sans-serif;
}
.b_text{
  font-weight: 600;
  color: white;
}
.example-title{
  margin-top: 2%;
}
h2, .h2 {
    font-size: 3.0rem;
}
/*layer4 ends*/



/*layer5 begins*/
.layer5{
  position: relative;
  background-color: #f7f7f7;
  height: auto;
  color: black;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bolder;
  font-size: 30%;
}
.team-txt{
  font-family:'Josefin Sans', sans-serif;
  display: inline-block;
  padding-bottom: 5px;
  position: relative;
}
.team-txt:before{
    content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    bottom: 0;
    left: 25%;
    border-bottom: 2px solid red;
}
.layer5 .text1{
	margin-bottom: 2%;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 90%;
    color: black;
    margin: 10% auto;
    height: 300px;
}
.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.5);
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .6s ease;
}
.card:hover .overlay {
  bottom: 0;
  height: 100%;
}
.card:hover {
    box-shadow: 3px 8px 16px 0 rgba(0,0,0,0.4);
}
.icons{
	margin-top: 40%;
	text-align: center;
	font-size: 35px;
}
span+span{
	margin-left: 3%;
}
.container {
    padding: 2px 16px;
}
#circle{
	width: 30%;
	padding-top: 10%;
	margin: 1.66%;
}
#dp{
	border-radius: 50%;
	max-width: 250%;
	max-height: 250;
	margin-left: 36%;
	margin-top: -15%;
	margin-bottom: 5%;
	padding: 5%;
}
#lsttxt{
  font-size: 12px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #666;
}

#foot_img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  margin-bottom: 0.5%;
  width: 5rem;
  height: auto;
}
.fa-heart{
  color: #E90606;
}
/*layer5 ends*/


.example {
      width:530px;
      margin:0 auto;
      position:absolute;
 
    }
    .parallax {
      display:block;
      position:relative;
      width:325px;
      height:840px;
      margin: 0 0 0 -120px;
      /*overflow:hidden;
      padding:30px;*/
      text-indent:-999px;
      background:url(2.png) center center no-repeat;
      float:left;
    }
    .parallax:first-child {
      background-image:url(1.png);
      width:400px;
      height:400px;
      margin:0 -160px 0 0;
    }
    .parallax .level {
      display:block;
      position:absolute;
      width:100%;
      height:100%;
      top:0;
      left:0;
      background-position:center center;
      background-repeat:no-repeat;
    } 
    .parallax.enhanced,
    .parallax.enhanced:first-child {
      background:none;
}
.footer {
  position: relative;
  height: auto;
  color: rgb(53, 54, 56);
}

.removed{
  display: none;
}
@media screen and (max-width: 768px)
  {

    .layer1{
  position: relative;
  background: linear-gradient(to bottom right, rgb(252, 3, 3), rgb(8, 8, 8));
  height:105vh;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bolder;
}
    #land_text{
  text-align: center;
  padding-top: 0;
  font-size: 4.5rem;
  letter-spacing: 6px;
  margin-top: 7%;
   }
.layer2bg .container{
  padding-top: 1px;
  font-size: 10rem;
  color: black;
}
.top-to-bottom {
    border-width: 0px;
    height: 0px;
    margin-top: 0%;
    margin-left:0%;
    margin-right:0%;
}
.fa-users, .fa-cubes, .fa-smile-o{
  padding-top: 10px;
  color: white;
  font-size: 4.5rem !important;
}
.layer2{
  padding-bottom: 5px;
  position: relative;
  background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
}
    .teachername
    {
      font-size: 15px;
    }
    .studentname
    {
      font-size:15px;
    }
    .member
    {
      font-size:20px;
    }
    .nav-link
    {
      color: white;
    }
    .navbar-light
    {
      background: #A11111;
    }
   .nav-item {
      text-align: center;
      font-size: 15px;
      font-color: white;
      letter-spacing: 2px;
  }
  .build
  {
    font-size: 35px;
  }
  #land_text2
  {
    padding: 19px;
    font-size: 17px;
  }
  .btn-lg{
  display: table;
  margin: 8px auto; 
  background: rgba(0,0,0,0);
  border: 2px solid #FFFFFF;
  width: 40%;  
  height: 7%;
  border-radius: 0%; 
  color: white;
}
#lsttxt{
  font-size: 12px;
  margin-left: 35.5%;
  margin-top: 7%;
  font-family: 'Roboto', sans-serif;
  color: #666;
}
.layer3 .main-text2 {
  font-size: 30px;
  padding-top: 5%;
  margin-left: 23.5%;
  align-content: center;
  color:black;
}
.layer3{
  position: relative;
  background-color:#ffffff;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bolder;
  font-size:1.6rem;
  padding-bottom: 40px;
}
.layer3 .main-text {
  padding-top: 10%;
}
.layer2bg .main-text {
  padding-top: 10%;
  }
.layer3 .card{
  height: auto;
  width: 100%;
}
.container {
    padding: 2px 42px;
}

.text1{
  padding-top: 2%;
  text-align: center;
  font-size: 11px;
}
#land_img{
  width: 100%;
  height: auto;
  margin-top: 7%;
  margin-left:0%;
}

.team-txt{
  padding-top:10%;
}
#foot_img{
 
  margin-top: 5%;
  margin-bottom: 0.1%;
  width: 5rem;
  height: auto;
}

#lsttxt{
  padding-right: 35%;
  font-size: 10px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #666;
}

.footer {

  height: auto;
  color: rgb(53, 54, 56);
}
}
@media only screen and (min-width: 1024px)
{
    .navbar  {
      height: 70px;
      font-size: 1.4rem;     
      background: transparent; 
      display: block;
      position : fixed;
      max-height:80px !important;
      width: 100%;
      z-index: 99999;
      transition: all ease .5s;
    }
    .navbar.shrink {
      height: 60px;
      transition: all ease .5s;
      
      background: white;
      box-shadow: 3px 8px 16px 0 rgba(0,0,0,0.4);
    }
    .nav-item {
        margin-left: 20px;
        letter-spacing: 2.5px;
        transition: 0.5s;
        color: black;
        
    }
    .navlinkcol1{
      color: white;
    }
    .navlinkcol2{
      color: black;
    }

}

