/*navbar begins */
.navbar  {
  height: 70px;
  /* Transparent initial setting */
  background: transparent; 
  display: block;
  position : fixed;
  width: 100%;
  z-index: 99999;
  transition: all ease .5s;
}
.navbar.shrink {
  height: 70px;
  transition: all ease .5s;
  /* Change background to white on scroll */
  background: white; 
}
.navbar.shrink{
  padding: 10px;
  transition: all ease .5s;
  color: black; 
} 
.nav-item {
    margin-left: 20px;
    letter-spacing: 2.5px;
    transition: 0.5s;
    color: black;
}
.nav-link {
  color: black;
}

.fill ul li a {
  position: relative;
}

.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}

.fill ul li a {
  transition: all 2s;
}

.fill ul li a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}
.fill ul li a:hover {
  color: rgb(245, 0, 0);
  z-index: 1;
}
.fill ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}

/* Keyframes */
@-webkit-keyframes fill {
  0% {
    width: 0%;
    height: 2px;
  }
  50% {
    width: 100%;
    height: 2px;
  }
  100% {
    width: 100%;
    height: 2px;
    background: rgb(255, 0, 0);
  }
}
/*navbar ends*/
.layer1bg{
  background: rgb(101, 209, 252);
}
/*layer1 begins*/
.layer1{
  position: relative;
  background: linear-gradient(to bottom right, #f36601, #ff007b);
  height: 100vh;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bolder;
  font-size: 30%;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 110%,
    0 calc(100% - 5vw)
  );
}

@font-face{
  font-family: 'Bungee Inline';
  src: url('./bootstrap/fonts/BungeeInline-Regular.ttf') 
}
#turs_text{
  text-align: center;
  padding-top: 15%;
  font-size: 90px;
  letter-spacing: 5px;
  font-family: 'Bungee Inline';
  font-weight: bolder;
}

#land_text{
  text-align: center;
  font-size: 50px;
  letter-spacing: 8px;
}

#land_text2{
  text-align: center;
  font-size: 20px;
}
.btn-lg{
  display: table;
  margin: 0px auto;
  margin-top: 10%;
  background: #EF5607;
  border: 1px solid #EF5607;
  width: 10%;
  border-radius: 0%; 
}
.btn-lg:hover{
  background: #EF5607;
  border: 1px solid #EF5607;
}
/*layer1 ends*/

/*layer2 begins*/
.layer2bg{
  background: linear-gradient(to bottom right, #FD1463, #FF017A);
}
.layer2{
  position: relative;
  background-color: rgb(101, 209, 252);
  height: 100vh;
  color: rgb(12, 11, 11);
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bolder;
  font-size: 30%;
  clip-path: polygon(
    0 -10%,
    100% 10%,
    100% 100%,
    0 calc(100% - 5vw)
  );
}
#text1{
  padding-top: 5%;
  text-align: center;
}
/*layer2 ends*/

/*layer3 begins*/
.layer3{
  position: relative;
  background-color: #E8EDF4;
  height: 100vh;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bolder;
  font-size: 30%;
}
/*layer3 ends*/

/*layer4 begins*/
.layer4{
  position: relative;
  background-color: #FF7D66;
  height: 100vh;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bolder;
  font-size: 30%;
}
/*layer4 ends*/

/*layer5 begins*/
.layer5{
  position: relative;
  background-color: #7A6D6F;
  height: 100vh;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bolder;
  font-size: 30%;
}
/*layer5 ends*/

/*layer6 begins*/
.layer6{
  position: relative;
  background-color: #A8ECF9;
  height: 100vh;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bolder;
  font-size: 30%;
}
/*layer6 ends*/




