/*misc begins*/
.text1{
  padding-top: 5%;
  text-align: center;
  font-size: 14px;
}
/*misc ends*/

/*navbar begins */
.navbar  {
  height: 70px;
  /* Transparent initial setting */
  background: transparent; 
  display: block;
  position : fixed;
  width: 100%;
  z-index: 99999;
  transition: all ease .5s;
}
.navbar.shrink {
  height: 70px;
  transition: all ease .5s;
  /* Change background to white on scroll */
  background: white;
  border-bottom: 1px solid black; 
}
.nav-item {
    margin-left: 20px;
    letter-spacing: 2.5px;
    transition: 0.5s;
    color: black;
}
.nav-link {
  color: black;
}

.fill ul li a {
  position: relative;
}

.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}

.fill ul li a {
  transition: all 2s;
}

.fill ul li a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}
.fill ul li a:hover {
  color: rgb(245, 0, 0);
  z-index: 1;
}
.fill ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}

/* Keyframes */
@-webkit-keyframes fill {
  0% {
    width: 0%;
    height: 2px;
  }
  50% {
    width: 100%;
    height: 2px;
  }
  100% {
    width: 100%;
    height: 2px;
    background: rgb(255, 0, 0);
  }
}
/*navbar ends*/

/*layer1 begins*/
#land_img{
	width: 50%;
	height: auto;
  margin-top: 4%;
  margin-left: 25%;
  margin-bottom: 10%;
  padding: 100px;
}
.layer1bg{
  background-color: rgb(250, 246, 0);
}
.layer1{
  position: relative;
  background: linear-gradient(to bottom right, rgb(3, 252, 157), rgb(17, 0, 255));
  height: 110vh;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bolder;
  font-size: 30%;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    0 calc(100% - 5vw)
  );
}
#land_text{
  text-align: center;
  padding-top: 0;
  font-size: 40px;
  letter-spacing: 8px;
  margin-top: -13%;
}

#land_text2{
  text-align: center;
  font-size: 20px;
}
.btn-lg{
  display: table;
  margin: 0px auto;
  margin-top: 3%;
  background: #EF5607;
  border: 1px solid #EF5607;
  width: 10%;
  border-radius: 0%; 
  color: white;
}
.btn-lg:hover{
  background: #EF5607;
  border: 1px solid #EF5607;
}
/*layer1 ends*/

/*layer2 begins*/
.layer2bg{
  background: rgb(250, 246, 0);
}
.layer2{
  position: relative;
  background-color: rgb(250, 246, 0);
  height: 100vh;
  color: rgb(12, 11, 11);
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bolder;
  font-size: 30%;
  clip-path: polygon(
    0 -10%,
    100% 10%,
    100% 100%,
    0 calc(100% - 5vw)
  );
}
.layer2bg .main-text {
  font-size: 30px;
  padding-top: 5%;
  padding-bottom: 4%;
  margin-left: 40%;
  align-content: center;
}
.layer2bg .container{
  font-size: 20px;
}

/*layer2 ends*/

/*layer3 begins*/
.layer3{
  position: relative;
  background-color: rgb(204, 0, 194);
  height: 100vh;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bolder;
  font-size: 30%;
}
.layer3 .main-text2 {
  font-size: 30px;
  padding-top: 5%;
  padding-bottom: 4%;
  margin-left: 40%;
  align-content: center;
}
.layer3 .container{
  font-size: 20px;
}
/*layer3 ends*/

/*layer4 begins*/
.layer4{
  position: relative;
  background-color: #FF7D66;
  height: 100vh;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bolder;
  font-size: 30%;
}
/*layer4 ends*/



/*layer5 begins*/
.layer5{
  position: relative;
  background-color: #f7f7f7;
  height: auto;
  color: black;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bolder;
  font-size: 30%;
}
.team-txt{
  font-family:'Josefin Sans', sans-serif;
}
.layer5 .text1{
	margin-bottom: 2%;
}
.txtline:after {
  content: "";
  position: absolute;
  border-top: 2px solid #EF5607;
  left: 35%;
  bottom: 0;
  width: 30%;
  height: 0px;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    color: black;
    margin: 10% auto;
    height: 400px;
}
.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.5);
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .6s ease;
}
.card:hover .overlay {
  bottom: 0;
  height: 100%;
}
.card:hover {
    box-shadow: 3px 8px 16px 0 rgba(0,0,0,0.4);
}
.icons{
	margin-top: 40%;
	text-align: center;
	font-size: 35px;
}
span+span{
	margin-left: 3%;
}
.container {
    padding: 2px 16px;
}
#circle{
	width: 30%;
	padding-top: 10%;
	margin: 1.66%;
}
#dp{
	border-radius: 50%;
	max-width: 250%;
	max-height: 250;
	margin-left: 36%;
	margin-top: -15%;
	margin-bottom: 5%;
	padding: 5%;
}
/*layer7 ends
